<div style="text-align:center;">
<!-- ログイン画面 -->
  <div class="mainVisual">
    <img src="/box.jpg" poster="" autoplay loop muted></img>
  </div>
  <div class="main-img">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field-email">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field-password">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "ログイン" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
