<% wantlists.each_with_index do |wantlist, ix| %>
  <tr>
    <th scope="row"><%= ix + 1 %></th>
    <td><%= wantlist.product %></td>
    <td><%= wantlist.url %></td>
    <td><%= wantlist.comment %></td>
    <%# いいねボタンのidを連番で採番 %>
    <td id="like-button<%= wantlist.id %>">
      <%= render :partial => "/likes/like", locals: {wantlist: wantlist} %>
    </td>
  </tr>
<% end %>
