<!DOCTYPE html>
<html>
  <head>
    <title>WantIt</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <div class="header">
      <nav>
        <% if user_signed_in? %>
          <!-- *_path はUserモデルを作成したときに、
          deviseにより自動で作成されてますので、rake routesで確認できる -->
          Logged in as <strong><%= current_user.email %></strong>.
          <%= link_to 'プロフィール変更', edit_user_registration_path %> |
          <%= link_to "ログアウト", sign_out_path %>
        <% else %>
          <%= link_to "ログイン", new_user_session_path %>
        <% end %>
      </nav>
    </div>
  </head>

  <body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
