<!DOCTYPE html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css" type="text/css" media="all" />
<html>
  <head>
    <title>WantIt</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <div class="header">
      <nav>
        <div class ="content">
          <%= link_to show_list_index_path do %>
            <%= image_tag "/wantit_logo.png" %>
          <% end %>

          <% if user_signed_in? %>
            <strong><%= current_user.email %></strong>
            <%= link_to 'プロフィール変更', edit_user_registration_path %> |
            <%= link_to "ログアウト", sign_out_path %>
          <% else %>
            <%= link_to "ログイン", new_user_session_path %>
          <% end %>
        </div>
      </nav>
    </div>
  </head>

  <body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
